body {
    background-color: #FFF3B0;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight:bold;
    text-align: center;
    line-height: 1.25;  
    text-shadow: 0.1em 0.1em 0.1em #000000;
    font-family:"LiHei Pro";  
    background-color: #fabc3c;
    padding: 10px 10px;
    margin:20px 20px;
    display: block;
    border: 5px solid  #ffad00;
    border-radius: 20px; 
    text-decoration: none;
}

.back a{
    background-color: rgb(244, 134, 0, 0.8);
    text-align:center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    border: 5px rgb(244, 134, 0, 0.8);
    border-style:outset;
    border-radius: 20px;
    transition: all .3s linear;
    width:100px;
    height:40px;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight:bold;
}
.back a:hover {
    background-color: rgb(244, 134, 0, 0.8);
    font-weight:bold;
    font-size: 17px;
}

.tableauPlaceholder{
    border: 5px solid  rgb(244, 134, 0, 0.8);
    border-radius: 20px;
    margin-top: 20px;
}