<!DOCTYPE html>
<html>
<head>
    <title>治安分析</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='analysis_styles.css') }}">
     <script id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>
<body>
    <h1>治安分析</h1>
    <div class="back"><a href="/">回到主選單</a></div>
    
    <section id="regression">
        <h2>迴歸分析</h2>
        <p class="reg"> $$ Y ：犯罪率 = {近五年犯罪次數 \over 各里人口總數} \times 100\ \%$$</p>
        <h3>分析摘要</h3>
        <p>我們使用線性回歸分析來研究對治安結果具有重要影響的多個變數。在這 13 個變數中，我們發現有 5 個變數對犯罪率有顯著影響。</p>
        <p>其中，我們注意到監視器的設置對治安有顯著影響。以犯罪率最高的學府里為例，其犯罪率為 1.87%，並且主要犯罪類型是腳踏車竊盜案。如果能夠在適當的地點增加一台監視器，則可能使該地區的犯罪率下降 0.06%。</p>  
        <p>此外，我們也發現里守望相助隊的比例對各里的犯罪率有顯著影響。以近五年住宅竊盜案最多的忠勤里為例（共有 17 起報告的住宅竊盜案），該區的里守望相助隊比例為 17.29%。如果該比例增加1%，則可能有效地減少該地區近五年的住宅竊盜案約 0.06起。</p>   
        <p>此外，我們也關注教育程度對里的犯罪率的影響。我們觀察到大學畢業比例與里的犯罪率呈負相關。隨著大學畢業比例逐漸增加，政府可以考慮，每增加 1 個百分點的大學畢業比例，可能會使該里的犯罪率下降 0.03%，在這樣的假設之下來制定治安維護的預算目標決策。</p>
        <h3>重要變數</h3>
        <img src="{{ imagePath }}/../keyfactor_output.jpg" style="display:block; margin:auto; width: 450px; border: 5px solid  rgb(244, 134, 0, 0.8);" alt="主要影響治安因素"/>

        <h3>其他變數</h3>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <div class="wrap">
        <table>
            <tr>
                <th style="width: 25%;">變數</th> 
                <th style="width: 35%;">圖一</th>
                <th style="width: 35%;">圖二</th>
                <th style="width: 5%;">說明</th>
            </tr>
            <tr>
                <td>大學畢業人口比例</td>
                <td><img src="{{ imagePath }}/大學畢業人口比例/大學1.png"/></td>
                <td></td>
                <td><iframe src="{{ imagePath }}/大學畢業人口比例/大學.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>公寓大廈守望相助隊比例</td>
                <td><img src="{{ imagePath }}/公寓大廈守望相助隊比例/公寓大廈1.png"/></td>
                <td><img src="{{ imagePath }}/公寓大廈守望相助隊比例/公寓大廈2.png"/></td>
                <td><iframe src="{{ imagePath }}/公寓大廈守望相助隊比例/公寓大廈.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>戶數</td>
                <td><img src="{{ imagePath }}/戶數/戶數1.png"/></td>
                <td></td>
                <td><iframe src="{{ imagePath }}/戶數/戶數.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>男女比例</td>
                <td><img src="{{ imagePath }}/男女比例/男女比例1.png"/></td>
                <td><img src="{{ imagePath }}/男女比例/男女比例2.png"/></td>
                <td><iframe src="{{ imagePath }}/男女比例/男女比例.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>里守望相助隊比例</td>
                <td><img src="{{ imagePath }}/里守望相助隊比例/里守望相助隊1.png"/></td>
                <td><img src="{{ imagePath }}/里守望相助隊比例/里守望相助隊2.png"/></td>
                <td><iframe src="{{ imagePath }}/里守望相助隊比例/里守望相助隊.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>所得中位數</td>
                <td><img src="{{ imagePath }}/所得中位數/所得中位數1.png"/></td>
                <td></td>
                <td><iframe src="{{ imagePath }}/所得中位數/所得中位數.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>社區守望相助隊比例</td>
                <td><img src="{{ imagePath }}/社區守望相助隊比例/社區守望相助隊1.png"/></td>
                <td></td>
                <td><iframe src="{{ imagePath }}/社區守望相助隊比例/社區守望相助隊.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>員警比例</td>
                <td><img src="{{ imagePath }}/員警比例/員警比例1.png"/></td>
                <td><img src="{{ imagePath }}/員警比例/員警比例2.png"/></td>
                <td><iframe src="{{ imagePath }}/員警比例/員警比例.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>家戶聯防數</td>
                <td><img src="{{ imagePath }}/家戶聯防數/家戶聯防數1.png"/></td>
                <td><img src="{{ imagePath }}/家戶聯防數/家戶聯防數2.png"/></td>
                <td><iframe src="{{ imagePath }}/家戶聯防數/家戶聯防數.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>高中畢業人口比例</td>
                <td><img src="{{ imagePath }}/高中畢業人口比例/高中1.png"/></td>
                <td></td>
                <td><iframe src="{{ imagePath }}/高中畢業人口比例/高中.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>碩士畢業人口比例</td>
                <td><img src="{{ imagePath }}/碩士畢業人口比例/碩士1.png"/></td>
                <td></td>
                <td><iframe src="{{ imagePath }}/碩士畢業人口比例/碩士.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>錄影監視器比例</td>
                <td><img src="{{ imagePath }}/錄影監視器比例/錄影監視器比例1.png"/></td>
                <td><img src="{{ imagePath }}/錄影監視器比例/錄影監視器比例2.png"/></td>
                <td><iframe src="{{ imagePath }}/錄影監視器比例/錄影監視器比例.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
            <tr>
                <td>警民連線數</td>
                <td><img src="{{ imagePath }}/警民連線數/警民連線數1.png"/></td>
                <td><img src="{{ imagePath }}/警民連線數/警民連線數2.png"/></td>
                <td><iframe src="{{ imagePath }}/警民連線數/警民連線數.txt" frameborder="0" scrolling="auto"></iframe></td>
            </tr>
        </table>
        </div>
    </section>

    <section id="stat">
        <h2>案件統計</h2>
        <img src="{{ imagePath }}/../leveldistribution_output.jpg" style="display:block; margin:auto; width: 450px; border: 5px solid  rgb(244, 134, 0, 0.8);" alt="治安等級分布"/>
        <p>依案件總和數量次數，分成綠、黃、紅三種治安等級，平均案件數為12.92件，中位數為11，標準差為9.12。</p>
        <p>黃色治安等級門檻=案件數之中位數+1標準差，超過21個案件之里標為黃色。</p>
        <p>紅色治安等級門檻=案件數之中位數+2標準差，超過30個案件之里標為紅色。</p>
    </section>
</body>
</html>


