<!DOCTYPE html>
<html>
<head>
    <title>案件新增</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='report_styles.css') }}">
</head>
<body>
    <h1>案件新增</h1>
    <div class="back"><a href="/">回到主選單</a></div>
    <form method="post" action="/report">
        <div class="itemscontent">
            <label class = item for="li">里名</label>
            <input class = inputframe type="text" id="li" name="li" placeholder="XX里" required><br>

            <label class = typeitem for="type">類型</label>
            <select class = typeframe id="type" name="type">
                <option value="home">住宅竊盜</option>
                <option value="motocycle">機車竊盜</option>
                <option value="car">汽車竊盜</option>
                <option value="bike">自行車竊盜</option>
                <option value="burglary">強盜</option>
                <option value="robbery">搶奪</option>
            </select><br>

            <label class = item for="password">密碼</label>
            <input class = inputframe type="text" id="password" name="password" required><br>

        <input class = submitbutton type="submit" value="送出">
        <div class = result>
            {% if sign == 'no' %}
                <p>里名錯誤，無該里資料</p>
            {% elif sign == 'yes' %} 
                <p>目前{{ li }}的治安燈號為：{{ label }}</p>
            {% elif sign == 'wrong' %} 
                <p>密碼錯誤</p>
            {% else %}
                <p>請輸入上述資料</p>
            {% endif %}
        </div>
    </form></div>  
</body>
</html>